@font-face {
    font-family: "Lato-Bold"; 
    src: url(../fonts/big_noodle_titling.ttf); 
}

@font-face {
    font-family: "Open-Sans-Light"; 
    src: url(../fonts/big_noodle_titling.ttf); 
}

@font-face {
    font-family: "Open-Sans-Bold"; 
    src: url(../fonts/big_noodle_titling.ttf); 
}

@font-face {
    font-family: "Open-Sans-Italic"; 
    src: url(../fonts/big_noodle_titling.ttf); 
}

@font-face {
    font-family: "Myriad Pro-Regular"; 
    src: url(../fonts/big_noodle_titling.ttf); 
}

@font-face {
     font-family: "Myriad Pro-Regular"; 
    src: url(../fonts/big_noodle_titling.ttf); 
}

@font-face {
    font-family: "Myriad Pro-Semibold"; 
    src: url(../fonts/big_noodle_titling.ttf); 
}

/**/
@font-face {
    font-family: "Myriad Pro-Semibold"; 
    src: url(../fonts/big_noodle_titling.ttf); 
}


